@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    
    margin: 0%;
    padding: 0%;
      
        font-family: 'Courier New', Courier, monospace;
}
#topo{
    margin: 0%;
    padding: 15px;
    display: flex;
    flex-direction:row ;
    justify-content:space-between;
    background-color: black;
    align-items: center;
    
    
}
#cabecalho{
    margin-left: 20px;
    font-size: 20px;
}
#titulo{
    width: 300px;
    height: 80px;
}
.cabecalho-menu-item{
    color: white;
    margin-right: 50px;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
   
}
a:hover{
    color: red;
    transition: 0.3s all;
}
#titulo{
    flex-direction: column;
    font-size: 20px;
    
}
li{
    display: inline-block;
    margin: 10px;
    margin-right: 10px;
    font-size: 15px;
    padding: 1000;
}
a{
    color: black;
}
a:hover{
    color: red;
    transition: 0.3s all;
}

main{
    display: flex;
    flex-direction: row;
    height: 830px;
}
h2{
    color: white;
    font-size: 45px;
    line-height: 50px;
    padding: 1000;
    white-space: nowrap;

}
span{
    color: red;
}
img{
    width: 760px;
    margin-left: 30%;
}
#inscrevase{
    border: 2px solid red;
    padding: 10px;
    border-radius: 10px;
}
#inscrevase:hover{
    background-color: red;
    color: black;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form [ type="submit"]{
    height: 50px;
    width: 50%;
    background-color: red;
    color: white;
    font-size: bold;
}
form [ type="submit"]:hover{
   cursor: pointer;
}
input{
    margin-top: 20px;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 70%;
    margin-top: 13%;
    margin-bottom: 10%;
    
}
main{
    margin: none;
    background-image:url(complementos/Banner\ Neon\ Gym\ \(2\).png);
   background-repeat: no-repeat;
   background-size: cover;
}
fieldset{
    background-color: black;
    border: none;

}

#h4{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 45px;
}
#rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: white;
}
#rodape1{
    display: flex;
    flex-direction: column;
    margin-left: 29%;
    margin-top: 45px;
    
}
#rodape2{
    display: flex;
    flex-direction: column;
    margin-right: 28%;
    margin-top: 45px;
}
.a{
    padding: 15px;
    text-decoration: none;
    color: white;
}
.icones{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
    
}
.icones .fa-facebook{
    color: blue;
    padding: 10px;
   
}
.icones .fa-instagram{
    color: saddlebrown;
    padding: 10px;
}
.icones .fa-linkedin{
    color: blue;
    padding: 10px;
}
.icones .fa-twitter{
    color: blue;
    padding: 10x;
}