/*Geral*/
body{
    font-family: 'Roboto', sans-serif;
   
}
*{
    /*background-color: black;*/
}
.row{
    margin: 0;
}
.container{
    padding: 70px 0;
}
p,li{
    color: white;
    font-size: 14px;
}
/* Barra de navegação*/
header, .navbar{
    background-color: black;
}
#botao{
    background-color: white;
}
#btn{
    align-items: center;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}
#logo{
    width: 230px;
}
.navbar-brand{
    padding: 0;
    color: white;
}
.navbar-brand:hover{
    color: white;
}
#navbar-links a{
    padding-right: 60px;
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}
#about-menu:hover{
    color: red;
    transition: 0.3s all;
}
#team-menu:hover{
    color: red;
    transition: 0.3s all;
}
#services-menu:hover{
    color: red;
    transition: 0.3s all;
}
#contact-menu:hover{
    color: red;
    transition: 0.3s all;
}
main{
    background-color: white;
    color: black;
}
#produtos, #carrinhos{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}
.produto-single{
    width: 50%;
    padding: 0 170px;
}
main, img{
    width: 300px;
    
}


/*#rodape-coluna-1{
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
#rodape-coluna-2{
    justify-content: center;
    align-items: center;
    margin-top: -14px;
}
#rodape-coluna-3{
    justify-content: center;
    align-items: center;
    margin-top: -13px;
}
#sub-rodape{
    background-color: black;
    height: 60px;
    
}
footer{
    background-color: black;
    
}
h6{
    color: white;
}
.conteudo-rodape{
    color: white;
}